<section class="register">
    <div class="content no-top-padding">
        <h2>Poules</h2>
        <p>Hieronder vind je een overzicht van de top 3 per bracket. Wil je de volledige uitslag zien? Klik dan op de bracket naam die je wil bekijken.</p>
    
        <div class="brackets">
            <div class="bracket" id="bracket1">
                <h1><a href="/bracket/1">BRACKET 1</a></h1>
                <div class="bracket--players">
                    <div class="player">1: MegaSticky</div>
                    <div class="player">2: JustaSkin</div>
                    <div class="player">3: Rabowitz</div>
                </div>
            </div>
            <div class="bracket" id="bracket2">
                <h1><a href="/bracket/2">BRACKET 2</a></h1>
                <div class="bracket--players">
                    <div class="player">1: Saauwsbaauws</div>
                    <div class="player">2: Sndrvmn</div>
                    <div class="player">3: Cl0n3_tr00p3r_91</div>
                </div>
            </div>
            <div class="bracket" id="bracket3">
                <h1><a href="/bracket/3">BRACKET 3</a></h1>
                <div class="bracket--players">
                    <div class="player">1: Julietj</div>
                    <div class="player">2: BuzzCaboom</div>
                    <div class="player">3: Elevate_BE</div>
                </div>
            </div>
        </div>
    
    </div>
</section>