<section class="register">
    <div class="content no-top-padding">
        <h2>Poules</h2>
        <p>Hieronder kan je een overzicht vinden van de poules. Helemaal bovenaan vind je de roomcode die je moet joinen. Klik op deze code om direct naar de juiste channel te gaan</p>
    
        <div class="brackets">
            <div class="bracket" id="bracket1">
                <h1><a href="#">BRACKET 1</a></h1>
                <div class="bracket--players">
                    <%- getPlayers(players, 1) %>
                </div>
            </div>
            <div class="bracket" id="bracket2">
                <h1><a href="#">BRACKET 2</a></h1>
                <div class="bracket--players">
                    <%- getPlayers(players, 2) %>
                </div>
            </div>
            <div class="bracket" id="bracket3">
                <h1><a href="#">BRACKET 3</a></h1>
                <div class="bracket--players">
                    <%- getPlayers(players, 3) %>
                </div>
            </div>
        </div>
    
    </div>
</section>