<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MAIN INFO -->
    <title>TETR.IO Tornooi | Matf1x</title>
    <meta name="description" content="Matf1x organiseert voor het eerst een heus TETR.IO tornooi" />
    <meta name="keywords" content="tetris, tetrio, matfix, twitch, streamer, gaming, tornooi, toernooi" />

    <!-- META DATA -->
	<meta property="og:image" content="http://tetris.matfix.be/social-cover.png" />
	<meta property="og:title" content="Matf1x Tetr.io tornooi" />
	<meta property="og:description" content="Matf1x organiseert voor het eerst een heus TETR.IO tornooi" />
	<meta property="og:url" content="http://tetris.matfix.be/" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="nl" />

    <!-- CANONICAL LINK -->
	<link rel="canonical" href="http://tetris.matfix.be/" />

    <!-- CSS & STUFF -->
    <link rel="stylesheet" href="/css/main.css">

</head>