<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="shortcut icon" type="image/jpg" href="/favicon/favicon-32x32.png"/>
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#fd7014">
    <meta name="msapplication-TileColor" content="#fd7014">
    <meta name="theme-color" content="#fd7014">

    <!-- MAIN INFO -->
    <title><%= title %> | Matf1x TETR.IO toernooi</title>
    <meta name="description" content="Matf1x organiseert voor het eerst een heus TETR.IO tornooi" />
    <meta name="keywords" content="tetris, tetrio, matfix, twitch, streamer, gaming, tornooi, toernooi" />

    <!-- META DATA -->
	<meta property="og:image" content="http://tetris.matfix.be/social-cover.png" />
	<meta property="og:title" content="Matf1x Tetr.io tornooi" />
	<meta property="og:description" content="Matf1x organiseert voor het eerst een heus TETR.IO tornooi" />
	<meta property="og:url" content="http://tetris.matfix.be/" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="nl" />

    <!-- CANONICAL LINK -->
	<link rel="canonical" href="http://tetris.matfix.be/" />

    <!-- CSS & STUFF -->
    <link rel="stylesheet" href="/css/main.css">

</head>