<nav id="navigation">

    <ul>
        <li>
            <a href="/" class="no-padding"><img src="/matf1x-logo.png" alt=""></a>
        </li>
        <li><a <% if(currentPage==="home") { %>class="active"<% } %> href="/">Home</a></li>
        <li><a <% if(currentPage==="faq") { %>class="active"<% } %> href="#">F.A.Q.</a></li>
        <li><a <% if(currentPage==="register ") { %>class="active"<% } %> href="#">Inschrijven</a></li>
        <li><a <% if(currentPage==="who") { %>class="active"<% } %> href="#">Wie is Matfix?</a></li>
    </ul>

</nav>