<nav id="navigation">

    <ul>
        <li>
            <a href="/" class="no-padding"><img src="/matf1x-logo.png" alt=""></a>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="#info">Info</a></li>
        <li><a href="#register">Inschrijven</a></li>
        <li><a href="#users">Deelnemers</a></li>
        <li><a href="#who">Wie is Matf1x</a></li>
    </ul>

</nav>