<nav id="navigation">

    <!-- Mobile Menu icon -->
    <div class="open-menu">
        <i class="fas fa-bars" onclick="openMenu()"></i>
    </div>

    <!-- Menu -->
    <ul>
        <li>
            <img src="/matf1x-logo.png" alt="">
        </li>
        <li class="mobile-menu-item"><a href="/">Home</a></li>
        <li class="mobile-menu-item"><a href="#info">Info</a></li>
        <li class="mobile-menu-item"><a href="#register">Inschrijven</a></li>
        <li class="mobile-menu-item"><a href="#users">Deelnemers</a></li>
        <li class="mobile-menu-item"><a href="#who">Wie is Matf1x</a></li>
    </ul>

</nav>