<section class="sponsors">
    <div class="content">
        <h3>Met dank aan onze sponsors</h3>
        <ul>
            <li><a href="https://wablief.store" target="_blank"><img src="/sponsors/wablief-black.png" alt=""></a></li>
            <li><a href="https://nl.pumapress.be/" target="_blank"><img src="/sponsors/pumapress-black.png" alt=""></a></li>
            <li><a href="https://www.thepipeline.be/" target="_blank"><img src="/sponsors/pipeline-color.png" alt=""></a></li>
            <li><a href="https://www.communicatievriend.be/" target="_blank"><img src="/sponsors/comaid.svg" alt=""></a></li>
        </ul>
    </div>
</section>