<section class="whois">
    <div class="content">
        <h2>Wie is Matf1x?</h2>

        <p>Met zijn 30 jaar op de teller, heeft hij al wat meegemaakt. Zoals Drake zou zeggen: Started from the bottom! Sinds de eerste lockdown in 2020 is Matf1x begonnen aan een stream carriere op Twitch. Dit met het nodige vallen en opstaan uiteraard.</p>
        <p>Ondertussen is Matf1x al geen onbekende meer op het platform. Hij probeert wel overal eens binnen te springen (de ene keer al wat succesvoller dan de andere keer) en helpt waar kan. Maar bovenal probeert hij elke stream iedereen even zijn zorgen te doen vergeten.</p>
        <p>De hoofdfocus bij het streamen ligt bij het Just Chatting. Want een goeie babbel is veel meer waard dan iemand te zien knallen in Warzone, te zien falen in Rocket League of gewoon elke keer te zien sterven in Valorant. Neen, Matf1x probeert iedereen een leuke dag te bezorgen.</p>
    
        <h2>Volg Matf1x overal</h2>
        <div class="socials">
            <ul>
                <li><a href="https://twitch.tv/matf1x" target="_blank"><i class="fab fa-twitch"></i></a></li>
                <li><a href="https://twitter.com/f_tack" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://facebook.com/matf1x" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://instagram.com/matf1x" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UC7jK8PdvDyatgyLfSkzJz8Q" target="_blank"><i class="fab fa-youtube"></i></a></li>
                <li><a href="https://tiktok.com/@matf1x" target="_blank"><i class="fab fa-tiktok"></i></a></li>
            </ul>
        </div>
    
    </div>
</section>