<%
calculatePrices = function(wins, games) {
    const perc = ((wins * 100) / games).toFixed(2);
    const html = `(${perc}%)`;
    return html;
}

formatXP = function(xp) {
    var formatter = new Intl.NumberFormat('nl-BE');

    return formatter.format(xp);
}

getPlayers = function(players, bracket) {

    // setup the HTML handler
    let html = ``;

    // Loop trough the players
    for(const id in players) {

        // Check if this is the bracket
        if(players[id].bracket === bracket) {
            // Add to the HTML
            html += '<div class="player"><p>' + players[id].username + '</p></div>';
        }

    }

    // Return the HTML
    return html;

}
%>