@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'normalize';

:root {
    --clr-primary: #fd7014;
    --clr-text: #fff;
    --clr-light: rgb(236, 236, 236);
    --clr-text-light: #ddd;
    --clr-text-darker: #cbcbcb;
    --clr-lightdark: #424242;
    --clr-dark: #212121;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-dark);
    padding: 0;
    margin: 0;
    border-bottom: 5px solid var(--clr-primary);
    z-index: 100;

    ul {
        margin: 0 auto;
        max-width: 1200px;
        padding: 2rem 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        transition: padding .15s ease-in-out;
        list-style: none;

        li {
            padding: 0;
            margin: 0;

            img {
                height: 50px;
                transition: height .15s ease-in-out;
            }

            a {
                padding: 0 1.5rem;
                color: var(--clr-text-light);
                text-decoration: none;
                font-weight: 600;
                text-transform: uppercase;
                transition: color .15s ease-in-out;

                &:hover {
                    color: var(--clr-primary);
                }
            }

            a.no-padding {
                padding: 0;
            }

            .active {
                color: var(--clr-primary);
            }

            &:first-child {
                flex: 1;
            }

            &:last-child {
                a {
                    padding: 0 0 0 1.5rem;
                }
            }

        }
    }
}

.minimize {
    ul {
        padding: 1rem 0;
        li {
            img {
                height: 37.5px;
            }
        }
    }
}

.no-top-padding {
    padding-top: 0 !important;
}

.hero {
    width: 100%;
    background: var(--clr-dark);
    background-image: url('/bg-tetris.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: 124px;
    position: relative;

    &--text {
        margin: 0 auto;
        height: 100%;
        max-width: 1200px;
        text-align: center;

        img {
            padding-top: 100px;
        }

        .buttons {
            margin-top: 4rem;

            a {
                text-decoration: none;
                font-family: 'Exo 2', sans-serif;
                padding: .45rem 1.35rem;
                border-radius: 10px;
            }

            a.focus {
                background: var(--clr-primary);
                color: var(--clr-text);
                border: 0;
                transition: all .15s ease-in-out;
                border: 2px solid var(--clr-dark);
                text-transform: uppercase;
                font-weight: 700;

                &:hover {
                    border: 2px solid var(--clr-primary);
                }
            }
        }
    }
}

.content {
    max-width: 1200px;
    margin: 2rem auto;
    padding-top: 124px;
}

.info {
    background: var(--clr-light);
    padding: 2rem 0;

    .content {
        h2 {
            color: var(--clr-primary);
            font-weight: 700;
            font-family: 'Exo 2', sans-serif;
            font-size: 1.75rem;
            padding: 0;
            margin: 0;

            &:last-child {
                margin-bottom: 2rem;
            }
        }

        p {
            padding: .75rem 0 0 0;
            margin: 0;
        }

        h3 {
            margin: 1.5rem 0 -.75rem 0;
            padding: 0;
            font-size: 1.35rem;
        }
    }
}

.register {
    background: var(--clr-dark);
    padding: 2rem 0;

    .content {
        color: var(--clr-text);

        h2 {
            color: var(--clr-text);
            font-weight: 700;
            font-family: 'Exo 2', sans-serif;
            font-size: 1.75rem;
            padding: 0;
            margin: 0;

            &:last-child {
                margin-bottom: 2rem;
            }
        }

        .form-holder {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            div {
                &:first-child {
                    flex: 1;

                    h3 {
                        margin: 2rem 0 0 0;
                        padding: 0;
                    }

                    ul {
                        margin: 0;
                        li {
                            padding: 1rem 0;
                        }
                    }
                }

                &:last-child {
                    width: 500px;
                    padding-left: 2rem;

                    form {

                        .error {
                            color: rgb(141, 0, 0);
                            background: rgb(255, 225, 225);
                            padding: .5rem 1rem;
                            border-radius: 10px;
                            border: 1px solid rgb(141, 0, 0);
                            margin-bottom: 1rem;
                            font-weight: 600;
                        }

                        label {
                            font-weight: 700;
                            font-family: 'Exo 2', sans-serif;
                        }

                        p {
                            font-size: .85rem;
                            font-weight: 300;
                            color: var(--clr-text-light);
                            margin-top: 2rem;
                        }
                        input {
                            &[type=text] {
                                display: block;
                                width: 100%;
                                margin-bottom: 2rem;
                                padding: .5rem .75rem;
                                border-radius: 10px;
                            }

                            &[type=submit] {
                                background: var(--clr-primary);
                                border-radius: 10px;
                                padding: .5rem 1.25rem;
                                border: 0;
                                color: var(--clr-text);
                                font-weight: 600;
                                cursor: pointer;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h3 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2rem;
        padding: 0;
        margin: 0 0 2rem 0;
        color: var(--clr-primary);
        font-family: 'Exo 2', sans-serif;
        width: 100%;
        text-align: center;
    }
    
    .player {
        position: relative;
        width: calc(25% - 2rem);
        margin: 0 2rem 2rem 0;
        background: var(--clr-dark);
        border-radius: 10px;
        padding: 1.5rem;
        overflow: hidden;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.38);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.38);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.38);

        .flag {
            position: absolute;
            top: -1rem; 
            right: 0;
            opacity: .7;
            border-bottom-left-radius: 10px;
            
            img {
                width: 64px;
                border-bottom-left-radius: 10px;
            }
        }

        h2 {
            margin: 0 0 1rem 0;
            padding: 0;
            text-transform: uppercase;
            font-family: 'Exo 2', sans-serif;
            font-size: 1.35rem;
            text-shadow: 0px 0px 2px rgba(0, 2, 0, 1);
            color: var(--clr-text);

            img {
                width: 20px;
            }
        }

        p {
            margin: 0;
            padding: 0;
            color: var(--clr-text-light);
        }

        .bold {
            font-weight: 700;
            margin-bottom: .5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.whois {
    background: var(--clr-primary);
    color: var(--clr-text);
    margin-bottom: 0;
    padding: 0;

    .content {
        padding: 2rem 0;
        margin: 0 auto;
        background-image: url('/matfix.png');
        background-position: top right;
        background-repeat: no-repeat;

        h2 {
            font-weight: 700;
            font-family: 'Exo 2', sans-serif;
            font-size: 1.75rem;
            padding: 0;
            margin: 0;

            &:last-child {
                margin: 2rem 0 0 0 !important;
                font-weight: 400 !important;
            }
        }

        p {
            max-width: 500px;
        }

        .socials {
            ul {
                display: flex;
                list-style: none;
                margin: 1rem 0 0 0;
                padding: 0;
    
                li {
                    a {
                        color: var(--clr-text);
                        padding: 0 .75rem;
                        transition: all .3s ease-in-out;
                        transform: scale(1);
                        font-size: 1.5rem;
    
                        &:hover {
                            color: #000;
                            transform: scale(1.25);
                        }
                    }
                }
            }
        }
    }

    
}

footer {
    background: var(--clr-dark);
    padding: 2rem 0;
    text-align: center;
    color: var(--clr-text-light);

    .socials {
        ul {
            display: flex;
            list-style: none;
            margin: 2rem 0 0 0;
            padding: 0;
            justify-content: center;
            align-items: center;

            li {
                a {
                    color: var(--clr-text-darker);
                    padding: 0 .75rem;
                    transition: all .3s ease-in-out;
                    transform: scale(1);
                    font-size: 1.35rem;

                    &:hover {
                        color: var(--clr-text);
                        transform: scale(1.25);
                    }
                }
            }
        }
    }
}

.winnerwinnerchickendinner {
    i {
        display: block;
        position: relative;
        text-align: center;
        font-size: 5rem;
        margin-top: 2rem;
        z-index: 100;

        &::after {
            content: '';
            position: absolute;
            width: 90px;
            height: 90px;
            top: -5px;
            left: calc(50% - 45px);
            border-radius: 50%;
            background-color: var(--clr-primary);
            z-index: -1;
        }
    }

    p {
        margin: 3rem 0 0 0;
        font-weight: 600;
    }
}