@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Exo+2:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --clr-primary: #fd7014;
  --clr-text: #fff;
  --clr-light: rgb(236, 236, 236);
  --clr-text-light: #ddd;
  --clr-text-darker: #cbcbcb;
  --clr-lightdark: #424242;
  --clr-dark: #212121;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-dark);
  padding: 0;
  margin: 0;
  border-bottom: 5px solid var(--clr-primary);
  z-index: 100;
}

.no-top-padding {
  padding-top: 0 !important;
}

.hero {
  width: 100%;
  background: var(--clr-dark);
  background-image: url("/bg-tetris.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 75px;
  position: relative;
}

.hero--text {
  margin: 0 auto;
  height: 100%;
  height: 300px;
  max-width: 1200px;
  text-align: center;
}

.hero--text img {
  width: 100%;
  padding-top: 100px;
}

.hero--text .buttons {
  margin-top: 2rem;
}

.hero--text .buttons a {
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  padding: .45rem 1.35rem;
  border-radius: 10px;
}

.hero--text .buttons a.focus {
  background: var(--clr-primary);
  color: var(--clr-text);
  border: 0;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  border: 2px solid var(--clr-dark);
  text-transform: uppercase;
  font-weight: 700;
}

.hero--text .buttons a.focus:hover {
  border: 2px solid var(--clr-primary);
}

.content {
  margin: 2rem auto;
  padding-top: 124px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.info {
  background: var(--clr-light);
  padding: 1rem;
}

.info .content {
  margin: 0;
  padding: 0;
}

.info .content h2 {
  color: var(--clr-primary);
  font-weight: 700;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.75rem;
  padding: 0;
  margin: 0;
}

.info .content h2:last-child {
  margin-bottom: 2rem;
}

.info .content p {
  padding: .75rem 0 0 0;
  margin: 0;
}

.info .content h3 {
  margin: 1.5rem 0 -.75rem 0;
  padding: 0;
  font-size: 1.35rem;
}

.users {
  padding: 1rem;
}

.users .content {
  margin: 0;
  padding: 0;
}

.register {
  background: var(--clr-dark);
  padding: 1rem;
}

.register .content {
  color: var(--clr-text);
  margin: 0;
  padding: 0;
}

.register .content h2 {
  color: var(--clr-text);
  font-weight: 700;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.75rem;
  padding: 0;
  margin: 0;
}

.register .content h2:last-child {
  margin-bottom: 2rem;
}

.register .content .form-holder div:first-child h3 {
  margin: 2rem 0 0 0;
  padding: 0;
}

.register .content .form-holder div:first-child ul {
  margin: 0;
}

.register .content .form-holder div:first-child ul li {
  padding: 1rem 0;
}

.register .content .form-holder div:last-child form .error {
  color: #8d0000;
  background: #ffe1e1;
  padding: .5rem 1rem;
  border-radius: 10px;
  border: 1px solid #8d0000;
  margin-bottom: 1rem;
  font-weight: 600;
}

.register .content .form-holder div:last-child form label {
  font-weight: 700;
  font-family: 'Exo 2', sans-serif;
}

.register .content .form-holder div:last-child form p {
  font-size: .85rem;
  font-weight: 300;
  color: var(--clr-text-light);
  margin-top: 2rem;
}

.register .content .form-holder div:last-child form input[type=text] {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  padding: .5rem .75rem;
  border-radius: 10px;
}

.register .content .form-holder div:last-child form input[type=submit] {
  background: var(--clr-primary);
  border-radius: 10px;
  padding: .5rem 1.25rem;
  border: 0;
  color: var(--clr-text);
  font-weight: 600;
  cursor: pointer;
}

.register .content .form-holder div:last-child form input:last-child {
  margin-bottom: 0;
}

.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.players h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0;
  margin: 0 0 2rem 0;
  color: var(--clr-primary);
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  text-align: center;
}

.players .player {
  position: relative;
  width: calc(50% - 1rem);
  margin: 0 1rem 1rem 0;
  background: var(--clr-dark);
  border-radius: 10px;
  padding: 1.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.38);
}

.players .player .flag {
  position: absolute;
  top: -1rem;
  right: 0;
  opacity: .7;
  border-bottom-left-radius: 10px;
}

.players .player .flag img {
  width: 64px;
  border-bottom-left-radius: 10px;
}

.players .player h2 {
  margin: 0 0 1rem 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.35rem;
  text-shadow: 0px 0px 2px #000200;
  color: var(--clr-text);
}

.players .player h2 img {
  width: 20px;
}

.players .player p {
  margin: 0;
  padding: 0;
  color: var(--clr-text-light);
}

.players .player .bold {
  font-weight: 700;
  margin-bottom: .5rem;
}

.players .player .bold:last-child {
  margin-bottom: 0;
}

.whois {
  background: var(--clr-primary);
  color: var(--clr-text);
  margin-bottom: 0;
  padding: 0;
}

.whois .content {
  padding: 2rem 1rem;
  margin: 0 auto;
}

.whois .content h2 {
  font-weight: 700;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.75rem;
  padding: 0;
  margin: 0;
}

.whois .content h2:last-child {
  margin: 2rem 0 0 0 !important;
  font-weight: 400 !important;
}

.whois .content .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0;
}

.whois .content .socials ul li a {
  color: var(--clr-text);
  padding: 0 .75rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 1.5rem;
}

.whois .content .socials ul li a:hover {
  color: #000;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

footer {
  background: var(--clr-dark);
  padding: 2rem 0;
  text-align: center;
  color: var(--clr-text-light);
}

footer .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 2rem 0 0 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .socials ul li a {
  color: var(--clr-text-darker);
  padding: 0 .75rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 1.35rem;
}

footer .socials ul li a:hover {
  color: var(--clr-text);
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.winnerwinnerchickendinner i {
  display: block;
  position: relative;
  text-align: center;
  font-size: 5rem;
  margin-top: 2rem;
  z-index: 100;
}

.winnerwinnerchickendinner i::after {
  content: '';
  position: absolute;
  width: 90px;
  height: 90px;
  top: -5px;
  left: calc(50% - 45px);
  border-radius: 50%;
  background-color: var(--clr-primary);
  z-index: -1;
}

.winnerwinnerchickendinner p {
  margin: 3rem 0 0 0;
  font-weight: 600;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  nav ul li {
    display: none;
  }
  nav ul li:first-child {
    display: block;
  }
  nav ul li img {
    width: 150px;
  }
  nav ul li a {
    display: block;
    padding: .75rem 0;
    color: var(--clr-text-light);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
  }
  nav ul li a:hover {
    color: var(--clr-primary);
  }
}

@media only screen and (min-width: 1200px) {
  nav ul {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: padding .15s ease-in-out;
    transition: padding .15s ease-in-out;
    list-style: none;
  }
  nav ul li {
    padding: 0;
    margin: 0;
  }
  nav ul li img {
    height: 50px;
    -webkit-transition: height .15s ease-in-out;
    transition: height .15s ease-in-out;
  }
  nav ul li a {
    padding: 0 1.5rem;
    color: var(--clr-text-light);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
  }
  nav ul li a:hover {
    color: var(--clr-primary);
  }
  nav ul li a.no-padding {
    padding: 0;
  }
  nav ul li .active {
    color: var(--clr-primary);
  }
  nav ul li:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav ul li:last-child a {
    padding: 0 0 0 1.5rem;
  }
  .minimize ul {
    padding: 1rem 0;
  }
  .minimize ul li img {
    height: 37.5px;
  }
  .hero {
    margin-top: 124px;
    height: 400px;
    background-size: contain;
  }
  .hero--text img {
    width: 500px;
  }
  .hero--text .buttons {
    margin-top: 4rem;
  }
  .content {
    width: 1200px;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
  }
  .info {
    padding: 4rem 0;
  }
  .info .content {
    margin: 0 auto;
  }
  .register {
    padding: 4rem 0;
  }
  .register .content {
    margin: 0 auto;
  }
  .register .content .form-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .register .content .form-holder div:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .register .content .form-holder div:last-child {
    width: 500px;
    padding-left: 2rem;
  }
  .users {
    padding: 4rem 0;
  }
  .users .content {
    margin: 0 auto;
  }
  .players {
    padding: 0;
  }
  .players .player {
    width: calc(25% - 2rem);
  }
  .whois .content {
    padding: 4rem 0;
    background-image: url("/matfix.png");
    background-position: top right;
    background-repeat: no-repeat;
  }
  .whois .content p {
    max-width: 600px;
  }
}
/*# sourceMappingURL=main.css.map */